.container.main
	.work
		.section-head
			h1 Work
			p View more on 
				a(href="#{github}") Github

		.work-items
			for work, slug in public.work._data
				if work.layout !== "../_layout"
					.item
						.thumb
							a(href="/work/#{slug}.html") 
								img(src="#{ work.img }")
						p: strong.title: a(href="/work/#{slug}.html")= work.title
						p.stack= work.stack
						p.desc= work.desc 
							span.date  (
								= work.date 
								)